<main>
    <section class="about" id="about">
        <div class="text">
            <h1>O DevSushi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam voluptatibus perspiciatis dignissimos blanditiis? Eum sequi itaque voluptatibus, expedita optio dolorem reiciendis mollitia suscipit dolor molestias esse hic saepe est nihil.</p>
        </div>
        <div class="image">
            <img src="/samuel-foster-LxD9fZYR2uw-unsplash.jpg" alt="restaurant" loading="lazy">
        </div>
    </section>
    <section class="menu" id="menu">
        <h2>Conheça nosso cardápio</h2>
        <div class="grid-container">
            <div class="card">
                <div class="card-img">
                    <img src="/pexels-valeriya-1148086-_1_.webp" alt="sushi" loading="lazy">
                </div>
                <div class="card-text">
                    <span>Sushi</span>
                    <p class="card-description">Arroz temperado, enrolado em alga nori e recheado com salmão<br>e vegetais</p>
                    <div class="card-info">
                        <p class="card-price">R$ 100.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div><div class="card">
                <div class="card-img">
                    <img src="/pexels-pixabay-357756-_2_.webp" alt="sushi" loading="lazy">
                </div>
                <div class="card-text">
                    <span>Sushi</span>
                    <p class="card-description">Arroz temperado, enrolado em alga nori e recheado com salmão<br>e vegetais</p>
                    <div class="card-info">
                        <p class="card-price">R$ 100.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-button">
            <button class="menu-btn">VEJA NOSSO CARDÁPIO</button>
        </div>
    </section>
    <section class="testimonials" id="testimonials">
        <h2>Depoimentos</h2>
        <div class="grid">
            <div class="card">
                <img src="/pexels-hannah-nelson-390257-1065084.jpg" alt="emily" loading="lazy">
                <p class="card-testimonials">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ad, sequi officia doloribus aperiam quasi nobis incidunt maxime placeat sint iure cumque accusamus nostrum eveniet obcaecati minus, voluptates est magni.</p>
                <p class="card-name">Emily R.</p>
            </div>
            <div class="card">
                <img src="/pexels-justin-shaifer-501272-1222271.jpg" alt="justin" loading="lazy">
                <p class="card-testimonials">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ad, sequi officia doloribus aperiam quasi nobis incidunt maxime placeat sint iure cumque accusamus nostrum eveniet obcaecati minus, voluptates est magni.</p>
                <p class="card-name">Justin B.</p>
            </div>
            <div class="card">
                <img src="/pexels-hannah-nelson-390257-1065084.jpg" alt="jennie" loading="lazy">
                <p class="card-testimonials">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ad, sequi officia doloribus aperiam quasi nobis incidunt maxime placeat sint iure cumque accusamus nostrum eveniet obcaecati minus, voluptates est magni.</p>
                <p class="card-name">Jennie T.</p>
            </div>
        </div>
    </section>
    <section class="location" id="location">
        <h2>Venha nos conhecer</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.67792667255!2d-46.5651055254168!3d-23.68747316623608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1741467789769!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
